<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
    <h1>Login</h1>

    <!-- Login Form -->
    <form method="POST" action="/login">
        <div>
            <label for="userName">User Name:</label>
            <input type="text" name="userName" id="userName" required value="<%= userName %>">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <!-- Error Message -->
    <% if (errorMessage) { %>
        <div style="color: red;">
            <p><%= errorMessage %></p>
        </div>
    <% } %>
</body>
</html>
